.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: "#F5F3FB";
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    max-width: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}
